<a href="https://colab.research.google.com/github/Samiaa191877/Data-Mining2/blob/main/Python_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Simple variables

In [ ]:
#Basic arithmetic operations
a = 10
b = 5

sum = a + b
difference = a - b
product = a * b
division = a / b

print("sum: ", sum)
print("Difference: ", difference)
print("product: ", product)
print("Division: ", division)

sum:  15
Difference:  5
product:  50
Division:  2.0

In [ ]:
print(f"The sum of the two numbers{a}' {b} is {sum}")

The sum of the two numbers10' 5 is 15

In [ ]:
x = 13 // 2
print(x)

y = 13 % 2
print(y)

6
1

In [ ]:
# Boolean variables and comparisons

x = 10
y = 5

is_greater = x > y
is_equa1 = x == y
is_not_equa1 = x != y

print("Is x greter than y?", is_greater)
print("Is x equa1 y?", is_equa1)
print("Is x not equa1 to y?", is_not_equa1)

Is x greter than y? True
Is x equa1 y? False
Is x not equa1 to y? True

In [ ]:
# variable assignment
name = "sami"
age = 55
is_professor = True

print (f"{name}'s age is {age}. He is a professor is {is_professor}")

sami's age is 55. He is a professor is True

In [ ]:
# Defining and using a function
def greet(name):
  return"hello," + name + "!"
  greet("sami")
  my_name =input("What is your name? ")

In [ ]:
def add_number(a,b):
  return a + b

  a = int(input("enter first number:"))
  b = int(input("Enter second number:"))
  addition_va1ue =add_numbers(a,b)
  print(f"the resut of addition for {a},{b} is {addition_va1ue}")

In [ ]:
def add_numbers(a,b):
  return a+b

a= eval(input("Enter first number:"))
b= eval(input("Enter second number: "))
addition_va1ue =add_numbers(a,b)
print(f"the resut of addition for {a},{b} is {addition_va1ue}")

Enter first number:-4.5
Enter second number: 10
the resut of addition for -4.5,10 is 5.5

In [ ]:
#working with sittng
message ="Hello,world"
length =len(message)
uppercase = message.upper()
lowercase = message.lower()
substing = message[7:12]

print("original message:",message)
print("The length is:",length)
print("Uppe case:",uppercase)
print("Lower case:",lowercase)
print("part of the messageis:",substing)

original message: Hello,world
The length is: 11
Uppe case: HELLO,WORLD
Lower case: hello,world
part of the messageis: orld

In [ ]:
#Basic input example
Last = input("Enter the last name :")
First = input("Enter the first name :")
print (f"{Last},{First}")

Enter the last name :Sami ALamrani
Enter the first name :Sami
Sami ALamrani,Sami

In [ ]:
#Numeric input example
age=int(input("Enter your age :"))
print("you will be ",age+1, "years old next year.")

Enter your age :33
you will be  34 years old next year.

In [ ]:
#Calculations with input
num1 =float(input("Enter a number:"))
num2 =float(input("Enter another number:"))
sum_result= num1 + num2
print("sum:",sum_result)

Enter a number:12
Enter another number:14
sum: 26.0

In [ ]:
#string concatenation with input
city = input("Enter your city : ")
country = input("Enter your cantry: ")
location = city +"," + country
print("you are in :",location)

Enter your city : New Haven
Enter your cantry: USA
you are in : New Haven,USA

In [ ]:
# Multiple inputs
name, age = input("Enter your name and age sperated by space:").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age sperated by space:Sami 33
my name is Sami and my age is 33